<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Biblio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Biblio.Properties.Settings.chaineUtilisateurBiblio"
            connectionString="Data Source=DESKTOP-4M2R23F;Initial Catalog=Biblio;User ID=utilisateurBiblio;Password=pwd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Biblio.Properties.Settings>
            <setting name="codBibliotheque" serializeAs="String">
                <value>MRMS1</value>
            </setting>
        </Biblio.Properties.Settings>
    </userSettings>
</configuration>